image_tags = {
  "webserver" = "v0.0.1"
  "daemon"    = "v0.0.1"
}
location_image_tags = {
  "el" = "v0.0.1"
  "dbt" = "v0.0.1"
}
root_zone_id = "xxx"
domain_name  = "xxx"
el_env = {
  S3_BUCKET             = "xxx"
  AWS_ACCESS_KEY_ID     = "xxx"
  AWS_SECRET_ACCESS_KEY = "xxx"
  MD_DATABASE           = "xxx"
  MD_TOKEN              = "xxx"
  PARTITIONS_START_DATE = "xxx"
}
dbt_env = {
  AWS_ACCESS_KEY_ID     = "xxx"
  AWS_SECRET_ACCESS_KEY = "xxx"
  DBT_MD_DATABASE       = "xxx"
  DBT_MD_TOKEN          = "xxx"
  DBT_EXECUTABLE_PATH   = "/usr/local/bin/dbt"
}